.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(177, 227, 242);
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
}

.item { 
  flex-grow: 1;  
  margin: 0 0.5rem;
}

.item-2, .item-3, .item-4, .item-5 {
  margin-bottom: 5px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

.footer {
  display: flex; 
  justify-content: space-between;   
}

