* {
  box-sizing: border-box;    
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(96, 94, 94);
  background-color: rgb(220, 241, 247);
}

header {
  background-color: rgb(177, 227, 242); 
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

nav {
  margin-top: 0;    
}

li {
  list-style-type: none;
  text-align: center;    
}

main {
  text-align: center; 
  padding-bottom: 2rem;
  line-height: 1.5;
}

h3 {
  margin-bottom: 0;    
}

p {
  margin: 0.8rem 0.5rem 2rem 0.5rem;    
}

span {
    color: rgb(67, 65, 65);
    font-weight: bold;
}

a {
  text-decoration: none; 
  color: rgb(96, 94, 94); 
}
a:hover {
  text-decoration: underline;    
}

footer {
  font-weight: bolder; 
  margin-bottom: 0;   
}
/* id selectors */

#portfolio {
  background-color: rgb(247, 245, 241);
}


/* class selectors */
.header {
  font-family: 'Stick No Bills', sans-serif;    
  padding: 1.5rem 0 0.5rem 0; 
} 

.item-1 {
  font-size: 1.8rem;    
}

.intro-text, .footer-item {
  color: rgb(78, 69, 242);
}

.contact-info {
  margin-bottom: 1rem;  
}

/* Media Queries */
@media screen and (min-width:320px) { 

  #portfolio {
    padding: 0.1rem 0 1.2rem 0;        
  }

  #home {
    padding: 0.5rem 0 0.4rem 0;    
  }
  
  h2 {
    margin-bottom: 2rem;    
  }

  .img-student {
    width: 65%;
    padding-bottom: 1rem;
  }
  .img-portfolio {
    width: 95%;    
  }

  .nav {
    text-align: center;
    padding: 1rem 0;    
    flex-direction: column;
  }
  
  .item {
    background-color: rgb(247, 245, 241);     
    padding: 0.5rem 2rem;
  }  

  .item-1 {
    padding-bottom: 1.5rem; 
    background-color: rgb(177, 227, 242)   
  }

  header, #home {
    background-color: rgb(177, 227, 242);    
  }

  .portfolion {
    flex-direction: column;    
  }
}

@media screen and (min-width:768px) {
  .nav {
    flex-direction: row;   
  }

  .item {
    background-color: rgb(177, 227, 242);    
  }

  .item-1 {
    flex-basis: 768px;   
  }

  
}