* {
  box-sizing: border-box;    
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(96, 94, 94);
  background-color: rgb(220, 241, 247);
}

header {
  padding: 0.5rem 0 1rem 0;
}

nav {
  margin-top: 0;    
}

li {
  list-style-type: none;
  text-align: center;    
}

main {
  text-align: center; 
  padding-bottom: 2rem;
  line-height: 1.5;
}

h3 {
  margin-bottom: 0;    
}

span {
    color: rgb(67, 65, 65);
    font-weight: bold;
    padding-left: 1rem;
}

a {
  text-decoration: none; 
  color: rgb(96, 94, 94); 
}
a:hover {
  text-decoration: underline;    
}

footer {
  font-weight: bolder; 
  margin: 0 5% 2rem 5%; 
  padding-top: 1.2rem; 
  border-top: 1px solid rgb(167, 164, 164); 
}

/* id selectors */

.portfolio {
  background-color: rgb(247, 245, 241);
}

#skills {
  padding-bottom: 1rem;
}

#contact {
  padding-bottom: 1.5rem;
}

/* class selectors */
.header {
  font-family: 'Stick No Bills', sans-serif;    
  padding: 1.5rem 0 0.5rem 0; 
} 

.item-1 {
  font-size: 1.8rem;    
}

.intro-text, .footer-item {
  color: rgb(78, 69, 242);
}

.skills-list {
  padding-left: 0;
}

.skills-list li {
  padding-bottom: 0.5rem;
}

.contact-info {
  margin-bottom: 1rem;  
}

.footer {
  font-weight: bolder;
}

/* Media Queries */
@media screen and (min-width:320px) { 

  .portfolio {
    padding: 0.1rem 0 1.2rem 0;      
  }

  #home {
    padding: 0.5rem 0 0.4rem 0;    
  }
  
  h2 {
    margin-bottom: 2rem;    
  }

  .home {
    flex-wrap: wrap;
  }

  .img-student {
    max-width: 200px;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
  }
  .img-portfolio {
    width: 95%;    
  }

  .nav {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;    
  }
  
  .item {
    background-color: rgb(247, 245, 241);     
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }  

  .item-1 {
    padding-bottom: 1.5rem; 
    background-color: rgb(177, 227, 242)   
  }

  .item-2, .item-3, .item-4, .item-5 {
    margin-bottom: 0.3rem;
  }

  .intro-text, .portfolio-text {
    margin: 0.8rem 0.5rem 3rem 0.5rem;
  }

  header, #home {
    background-color: rgb(177, 227, 242);    
  }

  .contact-text {
    margin: 0 3% 10%;
  } 

  .footer-item3, .footer-item4, .footer-item5, .footer-item6 {
    display: none;
  }
}


@media screen and (min-width:768px) {

  .nav {
    flex-direction: row;  
  }

  .item {
    background-color: rgb(177, 227, 242);    
  }

  .item-1 {
    flex-basis: 768px;   
  }

  .item-2 {
    margin-left: 160px;
    padding: 8px 0;
  }

  .item-3, .item-4 {
    padding: 8px 0;
  }

  .item-5 {
    margin-right: 160px;
    padding: 8px 0;
  }

  #home {
    padding: 4% 0 8% 0;
  }

  .home {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .img-student {
    max-width: 300px;
  }

  .intro-text {
    font-size: 1.3rem; 
    text-align: left;
    margin-top: 0;
    margin-left: 13px;
  }  

  .header {
    flex-basis: 768px;
  }

  .portfolio-item {
    width: 50%;
  }
  
  article p {
    padding: 0 2rem 2rem 2rem;
  }

  .skills-list, .contact-text, .contact-info {
    font-size: 1.3rem;
  }

  .contact-text {
    padding: 0 5rem;
    margin-bottom: 3rem;
  }

  .footer-item1 {
    margin-right: auto;
  }

  .footer-item2 {
    display: none;
  }

  .footer-item3, .footer-item4, .footer-item5, .footer-item6 {
    display: block;
  }

  .footer-item3, .footer-item4, .footer-item5 {
    padding-right: 2rem;
  }
}


@media screen and (min-width:1024px) {
  .nav {
    padding-bottom: 2rem;
  }
  
  .item-1 {
    flex-basis: 0;
    margin: 1.5rem auto 0 2rem;
    padding: 0;
    min-width: 200px;
  }
  
  .item-2, .item-3, .item-4 {
    margin: 1.5rem 0.8rem 0 1.5rem;
    padding: 0;
  }

  .item-5 {
    margin: 1.5rem 2rem 0 1.5rem;
    padding: 0;
  }  

  #home, #top, .item {
    background-color: rgb(220, 241, 247);
  }  

  #home {
    padding: 0 1.7rem 3rem 1.7rem;
  }

  .img-student {
    max-width: 400px;
  }

  .intro-text {
    padding-right: 2.5rem;
  }

  .portfolio {
    padding: 1rem;
    margin: 0 1rem;
  }
  
  .header, .skills-list {
    min-width: 1024px;
  }

  .portfolio-item {
    max-width: 33%;
  }

  article p {
    padding: 0 0.3rem 2rem 0.3rem;
  }  

  .contact-text {
    padding: 0 10rem 0.5rem 10rem;
  }

}  